# Compiled files
*.class
bin/
target/
*.jar

# Package Files #
*.war
*.ear
*.DS_Store

manifest.mf
target/classes/
target/test-classes/
target/surefire-reports/
.classpath
.project
.settings/
.externalToolBuilders/
src/test/java/com/appfirst/statsd/test/TestSynchronized.java
.metadata/
src/metadata/
